@import './variables.scss';

.contact {
  align-items: center;
  color: $black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;

  @media #{$medium} {
    padding: 2rem;
  }

  &_top {
    align-items: center;
    color: $black;
    display: flex;
    flex-direction: column;

    @media #{$medium} {
      align-items: flex-start;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
    }

    @media #{$x-large} {
      width: 75%;
    }
  }

  &_title {
    font-size: 32px;
    font-weight: bold;
    margin: 0;

    @media #{$medium} {
     align-self: flex-start; 
     padding-left: 1rem;
     padding-bottom: 2rem;
    }
  }

  &_location {
    padding: 2rem 1rem;
  }

  &_form {
    align-items: center;
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;

    @media #{$medium} {
      padding: 0;
    }

    &_title {
      display: none;
      
      @media #{$medium} {
        display: block;
        font-size: 28px;
        font-weight: bold;
        margin: 0;
      }
    }
  }

  &_confirm {
    align-items: center;
    border-radius: 5px;
    color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1rem 2rem;
    text-align: center;
  
    &_heading {
      font-size: 18px;
      font-weight: bold;
      line-height: 2;
      margin: 0;
    }
  
    &_copy {
      margin: 0;
    }
  }
}
