@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
@import './variables.scss';

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: currentColor;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

button {
  background: goldenrod;
  border: none;
  border-radius: 5px;
  color: $white;
  font-size: 12pt;
  outline: none;
  padding: 0.5rem 1rem;

  @media #{$medium} {
    font-size: 14pt;
  }

  &:focus,
  &:hover,
  &:active {
    background: darken(goldenrod, 10%);
    cursor: pointer;
  }
}

.show-small {
  @media #{$medium} {
    display: none;
  }
}

.show-medium {
  display: none;

  @media #{$medium} {
    display: block;
  }
}

.show-medium-inline-block {
  display: none;

  @media #{$medium} {
    display: inline-block;
  }
}

.show-large {
  display: none;

  @media #{$large} {
    display: block;
  }
}

.show-large-inline-block {
  display: none;

  @media #{$large} {
    display: inline-block;
  }
}

.show-x-large {
  display: none;

  @media #{$x-large} {
    display: block;
  }
}

.show-x-large-inline-block {
  display: none;

  @media #{$x-large} {
    display: inline-block;
  }
}
