@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
@import './variables.scss';

html,
body {
  font-family: $montserrat;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: currentColor;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

button {
  background: none;
  border: none;
  font-family: $montserrat;
  outline: none;
}

.show-small {
  @media #{$medium} {
    display: none;
  }
}

.show-medium {
  display: none;

  @media #{$medium} {
    display: block;
  }
}

.show-medium-inline-block {
  display: none;

  @media #{$medium} {
    display: inline-block;
  }
}

.show-large {
  display: none;

  @media #{$large} {
    display: block;
  }
}

.show-large-inline-block {
  display: none;

  @media #{$large} {
    display: inline-block;
  }
}

.show-x-large {
  display: none;

  @media #{$x-large} {
    display: block;
  }
}

.show-x-large-inline-block {
  display: none;

  @media #{$x-large} {
    display: inline-block;
  }
}
