@import './variables.scss';

.menu {
  display: none;

  @media #{$medium} {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
  }

  @media #{$large} {
    padding: 1rem 15% 2rem;
  }

  &_left,
  &_right {
    @media #{$medium} {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 45%;
    }

    @media #{$large} {
      width: 45%;
    }
  }

  &_title {
    margin: 0;
    padding-top: 1rem;
    text-align: center;
  }

  &_copy {
    font-size: 18px;
    margin: 0;
    padding-top: 0.5rem;
    text-align: center;

    @media #{$medium} {
      padding-top: 1rem;
    }
  }

  &_footer {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 2rem 1rem;
    text-align: center;
  }

  &_mobile {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    @media #{$medium} {
      display: none;   
    }
  }
}
