@import '../appearance/styles/variables.scss';

.button {
  background: $primary;
  border: none;
  border-radius: 5px;
  color: $white;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  padding: 0.5rem 1rem;

  @media #{$medium} {
    font-size: 18px;
  }

  &:focus,
  &:hover,
  &:active {
    background: darken($primary, 10%);
    cursor: pointer;
  }
}
