@import '../appearance/styles/variables.scss';

.hero {
  align-items: center;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  
  @media #{$medium} {
    height: 100vh;
  }
}

.heroDetails {
  align-items: center;
  color: $white;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.heroImage {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.heroTitle {
  font-size: 24pt;
  font-weight: bold;
  margin: 0;
  padding: 1rem 0;
  text-align: center;

  @media #{$medium} {
    font-size: 32pt;
  }
}

.heroPhone {
  font-size: 12pt;
  margin: 0;
  padding-top: 1rem;

  @media #{$medium} {
    font-size: 16pt;
    padding-top: 2rem;
  }
}

.heroButton {
  background: goldenrod;
  border: none;
  border-radius: 5px;
  color: $white;
  font-size: 12pt;
  outline: none;
  padding: 0.5rem 1rem;

  @media #{$medium} {
    font-size: 14pt;
  }

  &:focus,
  &:hover,
  &:active {
    background: darken(goldenrod, 10%);
    cursor: pointer;
  }
}

