@import '../appearance/styles/variables.scss';

.hours {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  @media #{$small} {
    max-width: 40rem;
    width: 100%;
  }

  &_title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 1rem;
  }

  &_item {
    align-items: center;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    
    @media #{$small} {
      font-size: 18px;
      justify-content: flex-start;
    }
  }

  &_label {
    font-weight: bold;
    margin: 0;
    padding-right: 1rem;

    @media #{$small} {
      width: 11rem;
    }

    @media #{$medium} {
      width: 12rem;
    }
  }

  &_details {
    line-height: 1.5;
    margin: 0;
  }
}
