@import '../appearance/styles/variables.scss';

.location {
  display: flex;
  flex-direction: column;

  &_title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 1rem;
  }

  &_details {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
  }

  &_link {
    font-weight: bold;
    padding-top: 1rem;
    
    &:focus,
    &:hover {
      color: $primary;
    }
  }
}
