@import '../appearance/styles/variables.scss';

.nav {
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.bar {
  align-items: center;
  background-color: $black;
  color: $white;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navTitle {
  padding: 0 1rem;

  @media #{$medium} {
    padding: 0 2rem;
  }
}

.menu {
  padding: 0 2rem;
  
  @media #{$medium} {
    display: none;
  }
}

.mobileMenu {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  
  @media #{$medium} {
    display: none;
  }
}

.mobileItem {
  background-color: goldenrod;
  width: 100%;

  &:focus,
  &:hover,
  &:active {
    background-color: darken(goldenrod, 10%);
  }
}

.navMenu {
  align-self: center;
}

.navMenu {
  display: flex;
  list-style: none;
  padding: 0 1rem;

  @media #{$medium} {
    padding: 0 2rem;
  }
}

.navItem {
  display: none;
  
  @media #{$medium} {
    align-items: center;
    border-right: 1px solid $white;
    display: inline-flex;
    padding: 0 0.5rem;
  
    &:last-child {
      border: none;
    }

    &:focus,
    &:hover {
      color: goldenrod;
    }
  }
}

.nav a {
  color: currentColor;
}
